h1{
	position: relative;
	margin-left: 35%;
}

#grandeDivGauche{
	float: left;
	width: 50%;
	border-style : solid;
}

#grandeDivDroite{
	float: right;
	width: 50%;
	border-style : solid;
}

#formulaireTransfoRedim{
	display: block;
	float: left;
	border-style : solid;
	width : 21%;
	height : 300px;
	z-index: -1;
}

#formulaireTransfoCustom{
	display: block;
	float: left;
	border-style : solid;
	width : 21%;
	height : 300px;
}

#CanvasImage{
	margin-left: 24%;
}

#chercherImage{
	margin-left: 45%;
}

#download{
	position: relative;
	margin-top: 2%;
}

.champNombre{
	width: 15%;
}

#redimensionnement:checked ~ #redim {
	display: block;
}

#redim {
	display: none;
}

#masque:checked ~ #masqueCustom {
	display: block;
}

#masqueCustom {
	display: none;
}

.buttonSubmit {
    position: relative;
    float: left;
    border-radius: 15% 15% 15% 15%;
    font-family: 'Times New Roman', cursive;
    font-size: 150%;
    color: #FFF; 
    background-color: #3498DB;
    border-bottom: 5% solid #2980B9;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.buttonSubmit:active {
    transform: translate(0%,5%);
    -webkit-transform: translate(0%,5%);
    border-bottom: 1% solid;
}
