h1{
	position: relative;
	margin-left: 35%;
}

#formulaireTransfoDeBase{
	float: left;
	border-style : solid;
	width : 21%;
	height : 300px; 
}

#formulaireTransfoRedim{
	float: left;
	border-style : solid;
	width : 21%;
	height : 300px;
}

#formulaireTransfoCustom{
	float: left;
	border-style : solid;
	width : 21%;
	height : 300px;
}

#download{
	position: relative;
	margin-top: 2%;
}

.champNombre{
	width: 15%;
}

#chercherImage{
	position: relative;	
	margin-top: 18%; 
}

#redimensionnement:checked ~ #redim {
	display: block;
}

#redim {
	display: none;
}

#masque:checked ~ #masqueCustom {
	display: block;
}

#masqueCustom {
	display: none;
}